@layer vuetify-overrides {
  .cabloy-admin {
    .v-btn {
      letter-spacing: normal;
      text-transform: none;
    }

    .v-btn--icon.v-btn--density-compact {
      width: var(--v-btn-height);
      height: var(--v-btn-height);
    }
  }
}
