@layer vuetify-overrides {
  .cabloy-admin {
    .v-field,
    .v-field__input,
    .v-field__input input,
    textarea.v-field__input,
    .v-select__selection {
      font-size: var(--cabloy-font-size-body);
    }

    .v-field__input input::placeholder,
    textarea.v-field__input::placeholder,
    .v-date-input__format-hint {
      font-size: var(--cabloy-font-size-secondary);
    }

    .v-input__details {
      font-size: var(--cabloy-font-size-caption);
      line-height: var(--cabloy-line-height-tight);
    }
  }
}
