@layer vuetify-overrides {
  .cabloy-admin {
    .v-field {
      font-size: var(--cabloy-font-size-body);
    }

    .v-field__input input::placeholder,
    textarea.v-field__input::placeholder,
    .v-date-input__format-hint {
      font-size: var(--cabloy-font-size-secondary);
    }

    .v-field__input,
    .v-field__input input,
    textarea.v-field__input,
    .v-field-label:not(.v-field-label--floating),
    .v-select__selection,
    .v-chip {
      font-size: var(--cabloy-font-size-body);
      font-weight: 400;
    }

    .v-field:not(.v-field--focused):not(.v-field--error) .v-field__outline {
      --v-field-border-opacity: 0.16;
    }

    @media (hover: hover) {
      .v-field:not(.v-field--focused):not(.v-field--error):hover .v-field__outline {
        --v-field-border-opacity: var(--v-high-emphasis-opacity);
      }
    }

    .v-input__details {
      font-size: var(--cabloy-font-size-caption);
      line-height: var(--cabloy-line-height-tight);
    }

    .v-input__details:not(.v-input__details--hidden) {
      align-items: flex-start;
      padding-top: 2px;
    }
  }
}
