@layer vuetify-overrides {
  .cabloy-admin {
    .v-data-table {
      .v-btn-group--horizontal.v-btn-group--density-compact > .v-btn--icon {
        width: var(--v-btn-height);
      }

      .v-data-table-footer {
        column-gap: 8px;
        padding-block: 0;
        padding-inline: 8px;
        row-gap: 4px;

        &__items-per-page {
          > span {
            padding-inline-end: 4px;
          }

          > .v-select {
            width: 88px;

            .v-field {
              --v-input-control-height: 36px;
              --v-field-input-padding-top: 0px;
              --v-field-input-padding-bottom: 0px;
            }
          }
        }

        &__info {
          min-width: 96px;
          padding-inline: 8px;
        }

        &__pagination {
          align-items: center;
          display: flex;
          margin-inline-start: 4px;
          min-width: 0;

          .v-pagination__item,
          .v-pagination__first,
          .v-pagination__prev,
          .v-pagination__next,
          .v-pagination__last {
            margin-block: 0;
            margin-inline: 2px;
          }

          .v-pagination .v-btn {
            height: 36px;
            min-width: 36px;
          }
        }
      }

      .v-data-table-header__content,
      .v-data-table__td {
        font-size: var(--cabloy-font-size-body);
      }
    }
  }
}
